<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barcode Scanner</title>
</head>
<body>
    <h1>Barcode Scanner</h1>
    <div>
        <img src="{{ url_for('scan') }}" alt="Webcam Feed">
    </div>
    <div id="barcode_data"></div> <!-- Section to display scanned barcode data -->
    
    <!-- JavaScript to update the barcode data -->
    <script>
        function updateBarcodeData(data) {
            var barcodeDataDiv = document.getElementById("barcode_data");
            barcodeDataDiv.innerHTML = "<p>" + data.join("<br>") + "</p>";
        }
    </script>
</body>
</html>
